.container {
  max-width: 960px;
}

.is-invalid {
  border-color: red !important;
}

.invalid-feedback {
  color: red;
}

.valid-feedback {
  color: green;
}

.btn-valid {
  color: green;
}

.btn-invalid {
  color: red;
}

/* Estilo para checkbox válido */
.checkbox-valid {
  color: green;
}

/* Estilo para checkbox inválido */
.checkbox-invalid {
  color: red;
}