.container {
  max-width: 960px;
}
input:valid {
  border-color: green !important;
}

.is-invalid {
  border-color: red !important;
}

.invalid-feedback {
  color: red;
}

.valid-feedback {
  color: green;
}
.form-check-input:checked {
  border-color: green !important; 
  background-color: green !important; 
}

.form-check-input:not(:checked) {
  border-color: red !important; 
}

.form-check-input:checked ~.form-check-label {
  color: initial !important; 
}


.form-check-input:checked ~ .form-check-label {
  color: green !important; 
}

.form-check-input:not(:checked) ~ .form-check-label {
  color: red !important; 
}


